:root {
  // Colors
  --bg-color: hsl(0, 7%, 22%);
  --text-color: hsl(125, 79%, 36%);


  // Fonts
  --font-sans: 'Open Sans';
  --font-montserrat: 'Montserrat';

  // Font sizes
  --fs-small:28px;
  --fs-medium:36px
  --fs-large:42px

  --font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);

  // Font weights

  // Line heights

  // Margins

  // Paddings

  // Borders

  // Shadows

  // Transforms

  // Transitions

  // Animations

  // Media queries

  // Breakpoints
  --breakpoint-medium: 43.75em;
  --breakpoint-large: 56.25em;
  --breakpoint-xlarge: 90em;

  // Spacing

  // Z-indexes

  // Misc
}
